In [175]:
import pandas as pd
import numpy as np

In [176]:
data = pd.read_csv('Raw_Dataset - Sheet1.csv')

In [177]:
# Anzhelika = data.loc[:250, 'Գիրք 1':] #SER
# Anzhelika.to_csv("Anzhelika.csv")

In [178]:
# Diana = data.loc[250:500, 'Գիրք 1':]
# Diana.to_csv("Diana.csv")

In [179]:
# Anzhela = data.loc[500:750, 'Գիրք 1':]
# Anzhela.to_csv("Anzhela_2.csv")

In [180]:
Armen = data.loc[750:, 'Գիրք 1':].reset_index()

In [181]:
Armen.columns

Index(['index', 'Գիրք 1', 'Գիրք 2', 'Գիրք 3', 'Գիրք 4', 'Գիրք 5', 'Գիրք 6',
       'Գիրք 7', 'Գիրք 8', 'Գիրք 9', 'Գիրք 10', '_Գիրք 1_', '_Գիրք 2_',
       '_Գիրք 3_', '_Գիրք 4_', '_Գիրք 5_', '_Գիրք 6_', '_Գիրք 7_', '_Գիրք 8_',
       '_Գիրք 9_', '_Գիրք 10_', 'Հեղինակ 1', 'Հեղինակ 2', 'Հեղինակ 3',
       'Հեղինակ 4', 'Հեղինակ 5', 'Հեղինակ 6', 'Հեղինակ 7', 'Հեղինակ 8',
       'Հեղինակ 9', 'Հեղինակ 10'],
      dtype='object')

In [182]:
def remove_symbols(sentence):
    if(sentence == np.nan):
        return (np.nan)
    sentence = str(sentence)
    sentence = sentence.strip()
    new_sentence = ""
    for symbol in sentence:
        if symbol.isalpha() or symbol == " ":
            new_sentence += symbol
    return (new_sentence)

In [183]:
Armen.head(1)

,index,Գիրք 1,Գիրք 2,Գիրք 3,Գիրք 4,Գիրք 5,Գիրք 6,Գիրք 7,Գիրք 8,Գիրք 9,...,Հեղինակ 1,Հեղինակ 2,Հեղինակ 3,Հեղինակ 4,Հեղինակ 5,Հեղինակ 6,Հեղինակ 7,Հեղինակ 8,Հեղինակ 9,Հեղինակ 10
0,750,Շ. Բրոնտե <>,Վ. Պետրոսյան << Վերջին ուսուցիչը>>,Էքզյուպերի <>,Ջ. Գրին <>,Պ. Կոելու <>,Շ. Ազնավուր <>,NaN,NaN,NaN,...,Շարլոթ Բրոնտե,Պաուլու Կոելու,Վարդգես Պետրոսյան,Շառլ Ազնավուր,Ջոն Գրին,Ագաթա Քրիստի,Ռեմարկ,NaN,NaN,NaN

In [184]:
data = data.applymap(remove_symbols)
data = data.applymap(lambda string: string.lower())

In [185]:
authors_data = data.loc[:, 'Հեղինակ 1' : 'Հեղինակ 10']
arr = authors_data.values.flatten()

In [240]:
authors_series = pd.Series(arr).value_counts()
authors_series = authors_series.iloc[1:]
authors_series = authors_series[authors_series > 2]
authors_series.head(60)

պարույր սևակ             191
շիրվանզադե               186
վարդգես պետրոսյան        177
ջոն գրին                 121
րաֆֆի                    112
վահան տերյան              94
ալեքսանդր դյումա          92
նարդոս                    91
ռեմարկ                    91
ագաթա քրիստի              89
համո սահյան               74
դավիթ սամվելյան           72
հովհաննես թումանյան       65
մարկ արեն                 62
էրիխ մարիա ռեմարկ         51
վիլյամ սարոյան            51
ժյուլ վեռն                50
օսկար ուայլդ              48
մուրացան                  47
գաբրիել գարսիա մարկես     46
եղիշե չարենց              45
սյունե սևադա              42
պաուլո կոելյո             41
դյումա                    39
ջոջո մոյես                38
հերման հեսսե              36
սևակ                      35
շեքսպիր                   33
վիկտոր հյուգո             32
պաուլո կոելիո             32
ջեկ լոնդոն                31
ջոան ռոուլինգ             29
դոստոևսկի                 26
պաուլու կոելյու           26
գոհար նավասարդյան         26
արթուր կոնան դոյլ         25
տերյան                    25
էդգար հարությունյան       24
շառլոթ բրոնտե             22
արմեն նիազյան             21
ակսել բակունց             21
էռնեստ հեմինգուեյ         21
տա թևեր                   20
մարկ տվեն                 19
ավետիք իսահակյան          19
ջեյն օսթին                19
թեոդոր դրայզեր            19
                          17
ալեքսանդր շիրվանզադե      16
մարկ մենսոն               16
բալզակ                    16
ռեյ բրեդբերի              16
մարկես                    15
դեն բրաուն                15
հեսսե                     15
դեյլ քարնեգի              15
ուիլյամ շեքսպիր           14
ուիլյամ սարոյան           14
չարենց                    14
չունեմ                    13
dtype: int64

In [128]:
unique, counts = np.unique(arr, return_counts=True)
print(np.asarray((unique, counts)).T)

#np.unique(arr, return_counts=True)

[['' 17]
 [' ' 1]
 ['agata qristi' 1]
 ...
 ['ֆրենսիս սքոթ ֆիցջերալդ' 1]
 ['ֆրիդրիխ նիցշե' 4]
 ['ֆրոմ' 1]]

In [36]:
Armen = Armen.applymap(remove_symbols)
Armen = Armen.applymap(lambda string: string.lower())

In [37]:
Armen.head()

,index,Գիրք 1,Գիրք 2,Գիրք 3,Գիրք 4,Գիրք 5,Գիրք 6,Գիրք 7,Գիրք 8,Գիրք 9,...,Հեղինակ 1,Հեղինակ 2,Հեղինակ 3,Հեղինակ 4,Հեղինակ 5,Հեղինակ 6,Հեղինակ 7,Հեղինակ 8,Հեղինակ 9,Հեղինակ 10
0,,շ բրոնտե,վ պետրոսյան վերջին ուսուցիչը,էքզյուպերի,ջ գրին,պ կոելու,շ ազնավուր,nan,nan,nan,...,շարլոթ բրոնտե,պաուլու կոելու,վարդգես պետրոսյան,շառլ ազնավուր,ջոն գրին,ագաթա քրիստի,ռեմարկ,nan,nan,nan
1,,ջեյն էյի,մոլեռանդ հողմերի դարավանդը,աննա կարենինա ալքիմիկոսը,նախօրեին եթե որոտանը խոսեր,ջոնաթան լիվինգսթոն անունով ճայը,ծաղիկներ էլջերնոնի համար,հպարտություն և նախապաշարմունք,այնտեղ որտեզ ծաղկում են վայրի վարդեր,ես մինչ քեզ հայրիկ դու խենթ ես,...,շառլոթ բրոնտե էմիլի բրոնտե,ջեյն օսթին մարկես,պարույր սևակ,շիրվանզադե թումանյան,աննա թոդ,տուրգենև,շեքսպիր,վիլյամ սարոյան դդեմիրճյան,համո սահյան վահան տերյան,սերգեյ եսենին անահիտ սեկոյան
2,,ալեքսանդր դյումա կոմս մոնտե քրիստո,շառլոթ բրոնտե ջեյնէյր,դերենիկ դեմիրճյան վարդանանք,րաֆֆի խենթը,շիրվանզադե նամուսպատվի համար,ջոն գրին աստղերն են մեղավոր,փոթորկից առաջ,անուշավան պողոսյան սեր մի խաղա,հեկտոր մալո առանց ընտանիքի,...,ալեքսանդր դյումա,շառլոտ բրոնտե,լևոն շանթ,nan,nan,nan,nan,nan,nan,nan
3,,վարդգես պետրոսյան,պաուլո կոելյու,հեղինակը չեմ հիշում,ջոջո մոյես,,nan,nan,,նարդոս,...,պարույր սևակ,հովհաննես թումանյան,ալեքսանդր շիրվանզադե,մուրացան,պաուլո կոելյու,նարդոս,nan,nan,nan,nan
4,,ես և նա,մի սիրո պատմություն,հարրի փոթերի բոլոր մասերը,nan,nan,nan,nan,nan,nan,...,հիմնականում արտասահմանյան գրողների եմ նախընտրում,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [38]:
import random

def random_choice(key, probability_of_val1):
    return key if random.random() < probability_of_val1 else 0

wordDict = {
    "ց": {"c": 0.8, "ts": 0.2},
    "ր": {"r": 1},
    "փ": {"p": 1},
    "օ": {"o": 1},
    "ք": {"q": 0.7, "k": 0.3},
    "և": {"ev": 0.7, "yev": 0.3},
    "ֆ": {"f": 1},
    "ՈՒ": {"U": 1},
    "Ու": {"U": 1},
    "ու": {"u": 1},
    "Ա": {"A": 1},
    "Գ": {"G": 1},
    "Բ": {"B": 1},
    "Ե": {"Ye": 0.1, "YE": 0.1, "E": 0.8},
    "Դ": {"D": 1},
    "Է": {"E": 1},
    "Զ": {"Z": 1},
    "Թ": {"T": 0.9, "Th": 0.05, "TH": 0.05},
    "Ը": {"Y": 0.35, "@": 0.45, "E": 0.2},
    "Ի": {"I": 1},
    "Ժ": {"ZH": 0.15, "J": 0.5, "Zh": 0.15, "G": 0.2},
    "Խ": {"Gh": 0.05, "X": 0.7, "Kh": 0.1, "KH": 0.1, "GH": 0.05},
    "Լ": {"L": 1},
    "Կ": {"K": 1},
    "Ծ": {"C": 0.3, "&": 0.1, "TS": 0.3, "Ts": 0.3},
    "Ձ": {"Dz": 0.4, "Z": 0.1, "DZ": 0.4, "D": 0.1},
    "Հ": {"H": 1},
    "Ճ": {"CH": 0.2, "Ch": 0.2, "J": 0.4, "Tch": 0.1, "C": 0.1},
    "Ղ": {"X": 0.5, "Gh": 0.25, "GH": 0.25},
    "Յ": {"Y": 0.9, "J": 0.1},
    "Մ": {"M": 1},
    "Շ": {"SH": 0.4, "Sh": 0.4, "S": 0.2},
    "Ն": {"N": 1},
    "Չ": {"4": 0.2, "CH": 0.3, "Ch": 0.4, "C": 0.1},
    "Ո": {"O": 1},
    "Ջ": {"Dj": 0.05, "J": 0.6, "DJ": 0.05, "G": 0.3},
    "Պ": {"P": 1},
    "Ս": {"S": 1},
    "Ռ": {"R": 1},
    "Տ": {"T": 1},
    "Վ": {"V": 1},
    "Ց": {"C": 0.8, "TS": 0.1, "Ts": 0.1},
    "Ր": {"R": 1},
    "Փ": {"P": 1},
    "Ւ": {"V": 1},
    "Օ": {"O": 1},
    "Ք": {"Q": 0.7, "K": 0.3},
    "Ֆ": {"F": 1},
    "ա": {"a": 1},
    "գ": {"g": 1},
    "բ": {"b": 1},
    "ե": {"ye": 0.2, "e": 0.8},
    "դ": {"d": 1},
    "է": {"e": 1},
    "զ": {"z": 1},
    "թ": {"t": 0.9, "th": 0.1},
    "ը": {"y": 0.35, "@": 0.45, "e": 0.2},
    "ի": {"i": 1},
    "ժ": {"j": 0.5, "zh": 0.3, "g": 0.2},
    "խ": {"x": 0.7, "kh": 0.2, "gh": 0.1},
    "լ": {"l": 1},
    "կ": {"k": 1},
    "ծ": {"c": 0.3, "ts": 0.6, "&": 0.1},
    "ձ": {"z": 0.1, "dz": 0.8, "d": 0.1},
    "հ": {"h": 1},
    "ճ": {"ch": 0.4, "c": 0.1, "j": 0.4, "tch": 0.1},
    "ղ": {"x": 0.5, "gh": 0.5},
    "յ": {"y": 0.9, "j": 0.1},
    "մ": {"m": 1},
    "շ": {"sh": 0.8, "s": 0.2},
    "ն": {"n": 1},
    "չ": {"4": 0.2, "ch": 0.7, "c": 0.1},
    "ո": {"o": 1},
    "ջ": {"j": 0.6, "dj": 0.1, "g": 0.3},
    "պ": {"p": 1},
    "ս": {"s": 1},
    "ռ": {"r": 1},
    "տ": {"t": 1},
    "վ": {"v": 1},
    "ւ": {"v": 1},
}
def multipleReplace(text):
    second_key = " "
    mod_text = list(text)
    letter = 0;
    while letter != len(mod_text):       
        for (key, another_dict) in wordDict.items():
            try:
                if (mod_text[letter] == 'ո' and mod_text[letter+1] == 'ւ'):
                    mod_text = mod_text[:letter]+ ['u']+ mod_text[letter+2:]
                    break;
            except IndexError:
                break

            try:
                if(mod_text[letter] == 'Ո' and mod_text[letter+1] == 'Ւ'):
                    mod_text = mod_text[:letter]+ ['U']+ mod_text[letter+2:]
                    break;
            except IndexError:
                break
            if (mod_text[letter] == key):
                while(mod_text[letter] != second_key):     
                    for (second_key, value) in another_dict.items():
                        if (random_choice(second_key, value)):
                            mod_text[letter] = second_key                                
                            break;
            if (mod_text[letter] == second_key):
                break 
        letter += 1;
    return ''.join(mod_text)

In [39]:
multipleReplace("ԻՄ ԱՆՈՒՆԸ ԿԱՌԼեոն Է, դոն կառլեոնե")

'IM ANUN@ KARLeon E, don karleone'

In [40]:
wordDict_2 = {
    "zh": {"ժ" : 1},
    "ch": {"չ" : 0.8, "ճ" : 0.2},
    "ts" : {"ծ" : 1},
    "c": {"ծ" : 0.5, "ց" : 0.4, "չ" : 0.1},
    "ev": {"և": 1},
    "ye": {"ե": 1},
    "th": {"թ" : 1},
    "kh": {"խ" : 1},
    "gh": {"ղ" : 1},
    "dz": {"ձ" : 1},
    "sh": {"շ" : 1},
    "vo" : {"ո" : 1},
    "dj" : {"ջ" : 1},
    "r" : {"ր" : 0.9, "ռ" : 0.1},
    "p": {"պ": 0.8, "փ": 0.2},
    "o": {"ո": 0.7, "օ" : 0.3},
    "q": {"ք": 1},
    "k": {"կ": 1},
    "f": {"ֆ": 1},
    "u": {"ու": 1},
    "a": {"ա": 1},
    "g": {"գ": 1},
    "b": {"բ": 1},
    "e": {"ե" : 0.7, "է" : 0.3},
    "d": {"դ": 1},
    "z": {"զ": 1},
    "t": {"տ" : 0.6, "թ": 0.4},
    "y" : {"յ" : 0.6, "ը" : 0.4},
    "@": {"ը" : 1},
    "i": {"ի": 1},
    "j": {"ջ" : 0.6, "ճ" : 0.2, "ժ" : 0.2},
    "x": {"խ" : 1},
    "l" : {"լ" : 1},
    "k": {"կ": 1},
    "h": {"հ": 1},
    "m": {"մ": 1},
    "n": {"ն": 1},
    "s": {"ս": 1},
    "v": {"վ": 1},
}
def reverseMultipleReplace(text):
    def loop(mod_text, letter, second_key):
        while(mod_text[letter] != second_key):     
            for (second_key, value) in another_dict.items():
                if (random_choice(second_key, value)):
                    mod_text[letter] = second_key
                    break;
    second_key = " "
    mod_text = list(text)
    letter = 0;
    while letter != len(mod_text):       
        for (key, another_dict) in wordDict_2.items():
            if (letter != len(mod_text) - 1):
                if (mod_text[letter] + mod_text[letter+1] == key):
                    while((mod_text[letter] + mod_text[letter+1]) != second_key):     
                        for (second_key, value) in another_dict.items():
                            if (random_choice(second_key, value)):
                                mod_text[letter] = second_key
                                mod_text = mod_text[:letter+1] + mod_text[letter+2:]
                                second_key = mod_text[letter]
                                break;
                        if (mod_text[letter] == second_key):
                            break
                
                elif (mod_text[letter] == key):
                    loop(mod_text, letter, second_key)
            else:
                if (mod_text[letter] == key):
                    loop(mod_text, letter, second_key)
            if (mod_text[letter] == second_key):
                break
        letter += 1;
    return ''.join(mod_text)

In [41]:
#for i in range(100):
#    print(reverseMultipleReplace("Totovenc".lower()))

In [42]:
sample = Armen.iloc[248:, :]
sample

,index,Գիրք 1,Գիրք 2,Գիրք 3,Գիրք 4,Գիրք 5,Գիրք 6,Գիրք 7,Գիրք 8,Գիրք 9,...,Հեղինակ 1,Հեղինակ 2,Հեղինակ 3,Հեղինակ 4,Հեղինակ 5,Հեղինակ 6,Հեղինակ 7,Հեղինակ 8,Հեղինակ 9,Հեղինակ 10
248,,nardos patmvacqner,dprocakan tariner,caxkac pshalarer,hovhannes tumanyan patmvacqner,nan,nan,nan,nan,nan,...,hovhannes tumanyan,nardos,avetiq isahakyan,hamo sahyan,daniel varujan,nan,nan,nan,nan,nan
249,,պարույր սևակ,համո սահյան,nan,nan,nan,nan,nan,nan,nan,...,պարույր սևակ,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [65]:
import re

def convert_to_armenian(word):
    if(re.search('[a-zA-Z]', word) != None and word == np.nan):
        return word
    return(reverseMultipleReplace(word))

In [67]:
sample.applymap(convert_to_armenian)

,index,Գիրք 1,Գիրք 2,Գիրք 3,Գիրք 4,Գիրք 5,Գիրք 6,Գիրք 7,Գիրք 8,Գիրք 9,...,Հեղինակ 1,Հեղինակ 2,Հեղինակ 3,Հեղինակ 4,Հեղինակ 5,Հեղինակ 6,Հեղինակ 7,Հեղինակ 8,Հեղինակ 9,Հեղինակ 10
248,,նարդոս պատմվածքնեռ,դպրոծական տարիներ,ծախկաց պշալարեր,հովհաննէս տումանըան պատմվացքներ,նան,նան,նան,նան,նան,...,հովհաննես տումանյան,նարդոս,ավետիք իսահակյան,համո սահյան,դանիել վարուջան,նան,նան,նան,նան,նան
249,,պարույր սևակ,համո սահյան,նան,նան,նան,նան,նան,նան,նան,...,պարույր սևակ,նան,նան,նան,նան,նան,նան,նան,նան,նան

In [5]:
def jaccard_distance(s, t):
    set_s = set(s)
    set_t = set(t)
    return len(set_s.intersection(set_t)) / len(set_s.union(set_t))

# Example usage
s1 = "Վահան Տերյան"
s2 = "Սահյան"
distance = jaccard_distance(s1, s2)
print(distance) # Output: 0.5

0.4